.navbar {
	background-color: white;
}

#mceclogo {
	max-height: 50px;
    width: auto;
    margin-top: -11px;
}

.banner {
	background-size: cover;
	background-image: url("../images/coverbanner.jpg");
	background-color: black;
	height: 600px;
	margin-top: -47px;
}

#about, #schedule, #travel, #policy {
	background-color: #403f3d;
	color: white;
	padding: 30px 40px;
}

#reg, #speaker, #prodev, #sponsor {
	padding: 30px 40px;

}

.wrapper {
	width: 75%;
	margin: auto;
	background-color: #403f3d;
}