/*font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Leckerli One', cursive; */

body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h1, h2, h3, h4, h5 {
	font-family: 'Leckerli One', cursive;
}

.navbar {
	background-color: white;
}

#mceclogo {
	max-height: 50px;
    width: auto;
    position: absolute;
    top: 0;
}

.banner {
	background-size: cover;
	background-image: url("../images/coverbanner.jpg");
	background-color: black;
	height: 600px;
	margin-top: -47px;
}

#about, #schedule, #sponsor, #policy {
	background-color: #403f3d;
	color: white;
	padding: 30px 40px;
}

#reg, #speaker, #prodev, #travel {
	padding: 30px 40px;

}

div.wrapper {
	width: 75%;
	margin: auto;
	background-color: #403f3d;
}

div.uv-section_container {
	margin: auto;
}

div.uv-card {
	margin: auto;
}

li {
	text-align: left;
}

p {
	padding: 5px;
}

img {
	padding: 5px;
}